*{
    margin: 0;
    padding: 0;
    box-shadow: none;
    font-family: 'Poppins',sans-serif;
}
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background:#0b0a17;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color:#1ddea5;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #0b0a17;  /* creates padding around scroll thumb */
  }
header{
    background: rgba(10, 10, 25, 0.7);
    backdrop-filter: blur(24px);
    border-bottom: 1px solid rgba(114, 114, 126, 0.2);
    z-index: 999;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
#nav-text{
    color: #909090;
    font-size:2rem ;
    font-weight: 500;
    font-family: 'Poppins',sans-serif;
}
#nav-text span{
    color: #1ddea5
}





/* hamburguerrr */

.mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
.nav-list.active {
    transform: translateX(0);
  }
  
@keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  
/* fim hamburguer  */


@media (max-width:999px) {

    body {
        overflow-x: hidden;
      }
       .nav-list {
        position: absolute;
        top: 8.2vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #060511;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;

      }
      .nav-list li {
        margin-left: 0;
        opacity: 0;
      }
      .mobile-menu {
          display: block;
        } 


    }

.grid-layout {
    max-width: 1140px;
    margin: 0 auto;
}

header .grid-layout nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 8vh;
    padding: 0px 8px;
}
header .grid-layout nav .nav-list {
    list-style: none;
    display: flex;
}

header .grid-layout nav .nav-list li a {
    color: #909090;
    position: relative;
    font-size: 1.1rem;
    font-family: 'Poppins',sans-serif;
}
header .grid-layout nav .nav-list li {
    margin-left: 48px;
}
a {
    text-decoration: none;
}


.btn{
    position: relative;
    display: block;
    transition: .2s ease;
    cursor: pointer;
    
}

.btn::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    height: 2px;
    background-color: #1ddea5;
    
    transition: .3s ease;
    overflow: hidden;
}
.btn1::before{
    width: 0;
    height:2PX;
}
.btn1:hover::before{
width: 100%;
}



main{
display: block;

}
 #s-home{
    padding:  0 50px;
    background-color: #080713;
     position: relative; 
    
} 
#home{
    display: flex;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    width: 100%;
}
.home-container-text{
    width: 60%;
    flex-direction: column;
}

.home-container-text h1{
    color: #c0bfbf;
    font-size: 2rem;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}
h1 #home-nome {
    font-size: 3.5rem;
    font-weight: 500;
}

/* efeito de maquina de escrever */
.wrapper{
    height: 1vh;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    transition: all ease 1s;
}
@media (max-width:1250px) {
    .wrapper{
        width: 100%;
    }
    
}
.typing-demo{
    width: 23ch;
    animation: typing 2s steps(22),
    blick .4s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    
    font-size: 2rem;
}
@keyframes typing{
    from{
        width: 0;
    }

}
@keyframes blick{
    50%{
        border-color: transparent;
    }
    
}


.gradient{
    background: linear-gradient( 45deg,#9f2ff5,  #1ddea5,#9f2ff5);
    background-size: 300% 400%;
    animation: color 4s ease infinite;
}

@keyframes color{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.home-container-text .buttons{
    display: flex;

}

.buttons a{
    
    
     color: #1ddea5; 
    padding: 15px 30px;
    max-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 1.1rem;
    font-weight: 800;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    transition: ease 1s;
}
.buttons a:hover{
    transform: scale(1.1);
    color: #fff;
    font-size: 1.2rem;
    
}
.home-container-img{
    width: 40%;
    flex-direction: column;
}

.home-container-img img{
    width: 100%;
    height: 100%;
    animation: flutua 8s ease infinite;
}
@keyframes flutua {
    0%,100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-80px);
    }
}

@media (max-width:900px) {
    .home-container-text{
        width: 100%;
    }
.home-container-img{
    width: 0;
    opacity: 0;
}
}
 @media (max-width:530px) {
    
.home-container-text h1{
    
    font-size: 1.5rem;
}
h1 #home-nome {
    font-size: 2rem;
    /* margin-bottom: 10px; */
    
}
.typing-demo{
    margin-top: 10px;
    
    font-size: 1.5rem;
}
} 


#s-about{
    padding: 96px 48px;
    background-color: #0b0a17;
}

#about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.about-text{
    width: 60%;

}
@media (max-width:999px) {
    .about-text{
        width: 100%;
    }
}
.about-text h2{
    padding-bottom: 24px;
    color: #c0bfbf;
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Poppins',sans-serif;
}

.about-text p{
    color: #c0bfbf;
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Poppins',sans-serif;
}

#s-projetos{
    padding: 96px 48px;
    text-align: center;
    background-color: #080713;
}
#s-projetos h2{
    padding-bottom: 24px;
    color: #c0bfbf;
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Poppins',sans-serif;
}
#projetos{
    margin: 24px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
}
#projetos article{
    background-color: #0b0a17;
    min-height: 450px;
    min-width: 250px;
    position: relative;
    padding: 32px;
    margin: 8px;
    flex-basis: calc(20% - 20px);
    flex-grow: 1;
    border: 1px solid #080713;
    transition: ease 0.5s;
}

#projetos article:hover{
    border: 1px solid #1ddea5;
    transform: scale(1.05);
}

.projetos-img{
    width: 100%;
    height: 150px;
    /* border: 1px solid red; */
    overflow: hidden;
    margin-bottom: 10px;
}
.img-projetos{
    width: 100%;
}

#projetos article h3{
    padding-bottom: 24px;
    color: #c0bfbf;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Poppins',sans-serif;   
}

#projetos article p{
    color: #c0bfbf;
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Poppins',sans-serif;
}

#projetos article a{
       
    color: #1ddea5;
    padding: 5px 50px;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    border: 2px solid #1ddea5;
    margin:20px -0 ;
    left: 20%;
    right: 20%;
    bottom: 0;
    position: absolute;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
transition: ease-in 0.5s;
}
#projetos article a:hover{
    background-color: #1ddea5;
    color: #fff;
    
}
#s-skills{
    padding: 96px 48px;
    text-align: center;
    background-color: #0b0a17;
}
#skills{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    padding: 8px;
}
#skills h2{
    
    color: #c0bfbf;
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Poppins',sans-serif;
    margin-bottom: 30px;
}
.skills-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.skills-cards article{
    align-items: center;
    color: #c0bfbf;
    justify-content: center;
    width: 20%;
    flex-grow: 1;
    height: 130px;
    background-color: #0b0a17;
    position: relative;
    transition: 1s all ease;
    border-radius: 5px;
    background: #080713;
    box-shadow:  -11px -11px 17px #06050e,
             11px 11px 17px #0a0918;
}
.skills-cards article:hover {
    transform: scale(1.1);
    box-shadow:  -11px -11px 17px #1cd59e,
             11px 11px 17px #1ee7ac; 
             
}

.skills-cards article img{
    width: 50px;
    height: 50px;
    margin-top: 10px;
}
.skills-cards article p{
 
    color: #c0bfbf;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Poppins',sans-serif;
    margin-top: 20px;
}